.registeredCard{
    position: absolute;
    display: block;
    top: 20%;
    left: 2.5%;
    right: 5%;
    height: 55%;
    width: 40%;
    padding: 2.5%;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.342);
    border-radius: 15px;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.726);

    }

    .discriptionRegistered{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3.5vh;
    }
    .buttonLogin,.buttonSignup{

        background-color: transparent;
        border: 1px solid white;
        border-radius: 0;
        color: white;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        width: 20%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right:15% ;
        margin-left: 15%;

        &:hover{
            background-color: white;
            color: black;

        }
    }
}

@media screen and (max-height: 728px){

}
@media screen and (max-width: 320px){

}
@media screen and (max-width: 375px) and (min-width:321px){

}
@media screen and (max-width: 425px) and (min-width:376px){

}
