.termsAndConditionsCard{
    position: absolute;
    top: 80%;
    left: 5%;
    right: 5%;
    height: 15%;
    width: 90%;
    opacity: 1;
    padding: 2%;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.342);

    .discriptionTermsAndConditions{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.5vh;
    }
} 
