.unregisteredCard{
    position: absolute;
    display: block;
    top: 20%;
    left: 52.5%;
    right: 5%;
    height: 55%;
    width: 40%;
    padding: 2.5%;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.342);
    border-radius: 15px;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.726);

    }
    .discriptionUnregistered{
        color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 3.5vh;
    }
    .buttonTakeMeThere{

        background-color: transparent;
        border: 1px solid white;
        border-radius: 0;
        color: white;
        font-size: 15px;
        font-family: 'Times New Roman', Times, serif;
        width: 40%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right:30% ;
        margin-left: 30%;

        &:hover{
            background-color: white;
            color: black;

        }

    }
}
