//@import '../home/HomePage.module';
@mixin Button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0;
  color: white;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  width: 20%;
  height: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right:15% ;
  margin-left: 15%;

  &:hover{
    background-color: white;
    color: black;

  }
}

@mixin InputField {

    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    padding: 10px 5px;
    margin: 0 0 25px 0;
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    color: white;
    opacity: 1;
    animation: input_opacity 0.8s cubic-bezier(.55, 0, .1, 1);
    transition: border-bottom 0.2s cubic-bezier(.55, 0, .1, 1);
    &:focus{
        outline: none;
        border-bottom: 2px solid #ffffff;
    }

        &::placeholder {
        color: rgba(255, 255, 255, 0.473);
}
&:-webkit-autofill,
&:-webkit-autofill:hover,
&:-webkit-autofill:focus,
&:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
}


@mixin Form{
    background-color: rgb(34, 34, 34);
    text-align: center;
    height: 80vh;
    padding-left: 0.1vw;
    padding-right: 0.1vw;
    padding-top: 10vh;
    padding-bottom:10vh;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.342);
    margin: 0;
    position: absolute;
    top: 50vh;
    bottom: 50vh;
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.726);

    }
}

.InputField{
    @include InputField();
}
.Form {
    @include Form();
    height: 60%;
}
.Body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(199, 199, 199);
}
.Button_SignUp{
  @include Button();
    margin-top: 10%;
    margin-right: 2%;
    margin-left: 18%;
}
.Button_Login{
  @include Button();
  margin-right: 20%;
  margin-left: 2.5%;
}
.Title{
    font-size: 1.75vw;
    color: white;
    text-align: center;
    margin-top: 0;
}



@media screen and (max-width: 320px){

  .InputField{
      @include InputField();
  }
  .Form {
      @include Form();
      height: 60%;
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
  }
  .Body{
      width: 100vw;
      height: 100vh;
      background-color: rgb(199, 199, 199);
  }
  .Button_SignUp{
    @include Button();
    width: 30%;
    height: 10%;
      margin-right: 2%;
      margin-left: 15%;
  }
  .Button_Login{
    @include Button();
    margin-right: 13%;
    width: 25%;
    height: 10%;
    margin-left: 2.5%;
  }
  .Title{
      font-size: 7.75vw;
      color: white;
      text-align: center;
      margin-top: 0;
  }


}
@media screen and (max-width: 375px) and (min-width: 321px){

    .InputField{
        @include InputField();
    }
    .Form {
        @include Form();
        height: 60%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Body{
        width: 100vw;
        height: 100vh;
        background-color: rgb(199, 199, 199);
    }
    .Button_SignUp{
      @include Button();
      width: 30%;
      height: 10%;
        margin-right: 2%;
        margin-left: 15%;
    }
    .Button_Login{
      @include Button();
      margin-right: 13%;
      width: 25%;
      height: 10%;
      margin-left: 2.5%;
    }
    .Title{
        font-size: 7.75vw;
        color: white;
        text-align: center;
        margin-top: 0;
    }


}
@media screen and (max-width: 425px) and (min-width : 376px){

    .InputField{
        @include InputField();
    }
    .Form {
        @include Form();
        height: 60%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Body{
        width: 100vw;
        height: 100vh;
        background-color: rgb(199, 199, 199);
    }
    .Button_SignUp{
      @include Button();
      width: 30%;
      height: 10%;
        margin-right: 2%;
        margin-left: 15%;
    }
    .Button_Login{
      @include Button();
      margin-right: 13%;
      width: 25%;
      height: 10%;
      margin-left: 2.5%;
    }
    .Title{
        font-size: 7.75vw;
        color: white;
        text-align: center;
        margin-top: 0;
    }


}
