@import '../Login/Login.module.scss';

.Title{
    padding-bottom: 5%;

}
.Form{
    padding-top: 5vh;
}
.EmailButtonContainer{
    position: relative;
}
.EmailInputField{
    @include InputField();
    color: aqua
}
.Button_SendOTP{
    @include Button();
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    top: 0;
    left: 70%;
    height: 60%;
    position: absolute;
    z-index: 10;
}
.otpFieldDisabled{
    @include InputField();
    color: blue;
}
.Button_Changepsw{
  @include Button();

width: 25%;
margin-right:10% ;
margin-left: 30%;
}
.Button_SignUp{
  @include Button();

width: 25%;
margin-right:0% ;
margin-left: 10%;
}
.otpclass{

  @include InputField();

}
